[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum
